
.task {
	padding: 10px;
}
.task-container {
	height: 2rem;
	width: 35rem;
	padding: 10px;
	border-radius: 12px;
	background: rgba(45, 39, 39, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(61,48,48,0.25);
	transition: all .5s ease;
}